[user]
	name = Marco Antônio
	email = ma.souza.junior@gmail.com
[init]
	defaultBranch = main
[core]
	symlinks = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
